{% extends 'base.html.twig' %}

{% block title %}New Caracteristique{% endblock %}

{% block body %}
    <h1>Create new Caracteristique</h1>

    {{ include('caracteristique/_form.html.twig') }}

    <a href="{{ path('caracteristique_index') }}">back to list</a>
{% endblock %}
