{% extends 'base.html.twig' %}

{% block title %}Article index
{% endblock %}

{% block body %}

	<h1>Page client</h1>
	<a href="{{ path('client_article')}}">Article</a>
	<br>

	client_article
{% endblock %}
